
    <footer id="footer">
        <div class="row heighten-row">
    <div class="col-sm-4">
        
    </div>
    <div class="col-sm-4">
        <div class="text-links">
        <a href="http://www.davidcodes.net/about">About</a> <a href="http://www.davidcodes.net">Work</a> <a href="http://www.davidcodes.net/blog">Blog</a>
            <a href="http://www.davidcodes.net/contact">Contact</a>
            
            <a href="http://www.davidcodes.net/about"><li>About</li></a>
            <a href="http://www.davidcodes.net"><li>Work</li></a>
            <a href="http://www.davidcodes.net/blog"><li>Blog</li></a>
            <a href="http://www.davidcodes.net/contact"><li>Contact</li></a>
            
            <div class="share-group2">
                <a href="https://twitter.com/david_onTheWeb">
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                </a>
                <a href="https://codepen.io/davidh6164">
                    <i class="fa fa-codepen" aria-hidden="true"></i>
                </a>
                <a href="https://github.com/davidh6164">
                    <i class="fa fa-github" aria-hidden="true"></i>
                </a>
            </div>
            </div>
    </div>
    <div class="col-sm-4">
        <h5>Web Designer</h5>
        <h5>David Horn</h5>
        <h5>Denver, Colorado</h5>
        <h5><a href="mailto:davidh882@gmail.com">Send Me An Email</a></h5>
    </div>
            </div>
        <div class="row">
            <div class="col-xs-12">
                <div>&copy;Copyright David Horn 2017. All Rights Reserved.<br/><br/></div>
            </div>
        </div>
        </footer>