
        <div class="row">
              <div class="col-xs-12">
    <nav class="navbar navbar-fixed-top">
  <div class="container">
      <a href="http://www.davidcodes.net">
    <span class="david-logo-wrap">
      <div class="david-logo-text">David Horn</div>
        <img src="../assets/david-codes-logo.png">
      </span>
          <div class="david-logo-text logo-sub-heading hidden-xs">Web Designer</div>
          </a>
      <span class="desktop-navbar">
         <ul>
        <a href="http://www.davidcodes.net/about"><li>About</li></a>
            <a href="http://www.davidcodes.net"><li>Work</li></a>
            <a href="http://www.davidcodes.net/blog"><li>Blog</li></a>
            <a href="http://www.davidcodes.net/contact"><li>Contact</li></a>
        </ul>
      </span>
      <a href="#d-nav" class="mobile-nav-open"><span class="david-menu"><i class="fa fa-bars" style="color:#fff"></i><span class="menu-text">MENU</span></span></a>
  </div>
        <div id="d-nav" class="david-nav">
            <a href="#"><span class="close">X</span></a>
            <div class="">
                <img src="../assets/david.jpg" class="profile-pic" alt="David Horn Profile Picture">
            </div>
        <ul>
        <a href="http://www.davidcodes.net/about"><li>About</li></a>
            <a href="http://www.davidcodes.net"><li>Work</li></a>
            <a href="http://www.davidcodes.net/contact"><li>Contact</li></a>
            <a href="http://www.davidcodes.net/blog"><li>Blog</li></a>
        </ul>
            <!--<div class="share-group2">
                <div class="share-icon" id="twitter">
                <a href="https://twitter.com/david_onTheWeb">
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                </a>
                </div>
                <div class="share-icon" id="codepen">
                <a href="https://codepen.io/davidh6164">
                    <i class="fa fa-codepen" aria-hidden="true"></i>
                </a> 
                </div>
                <div class="share-icon" id="github">
                                    <a href="https://github.com/davidh6164">
                    <i class="fa fa-github" aria-hidden="true"></i>
                </a>
                </div>
            </div>-->
            </div>
</nav><!-- /.nav -->
                  </div>
              </div><!-- /.nav row -->
