
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>David Horn UI Designer - Denver Colorado</title>
    <!-- Favicons & Manifest -->
    <link rel="shortcut icon" type="image/png" href="/favicon.png">
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico?">
    <link rel="manifest" href="/manifest.json">
    <!-- FOUC fix -->
    <style type="text/css">
    .hidden {display:none;}
  </style>
  <script type="text/javascript" src="/assets/jquery.min.js"></script>
  <script type="text/javascript">
    $('html').addClass('hidden');
    $(document).ready(function() {    // EDIT: From Adam Zerner's comment below: Rather use load: $(window).on('load', function () {...});
      $('html').show();  // EDIT: Can also use $('html').removeClass('hidden');
     });
   </script>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Font Awesome CDN -->
     <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
      <!-- Google Fonts Roboto -->
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
      <!-- Google Fonts Rubik Mono One -->
      <link href="https://fonts.googleapis.com/css?family=Rubik+Mono+One" rel="stylesheet">
    <!-- external CSS -->
     <link href="{{"../assets/style.css" | relative_url}}" rel="stylesheet">
<!-- Alfonso Filho Clip-path Polyfill -->
    <script type="text/javascript" src="../assets/clippath.min.js"></script>
   <!-- external JS -->
    <script type="text/javascript" src="../assets/function.js"></script>
