---
layout: default
---



<div class="container-fluid">
    
          <div class="row">
            <div class="col-xs-12 landing-image">
                <div class="landing-overlay">
                    <p class="projects-p">Hello, My name is David Horn and I am a <span class="focus-text">Web Designer</span>. I specialize in UI Design, but I also develop small to medium size websites for individuals, companies and organizations.</p>
                    <div class="share-group hidden-xs">
                <a href="https://twitter.com/david_onTheWeb">
                    <i class="fa fa-twitter landing-icon" aria-hidden="true"></i>
                </a>
                <a href="https://codepen.io/davidh6164">
                    <i class="fa fa-codepen landing-icon" aria-hidden="true"></i>
                </a>
                <a href="https://github.com/davidh6164">
                    <i class="fa fa-github landing-icon" aria-hidden="true"></i>
                </a>
            </div>
                </div>
              </div>
          </div>
    
          <div class="content">
              
              <section class="row heighten-row">
                <div class="col-xs-12">
                    <h1 class="page-heading">Recent Work</h1>
                  </div>
                  
                  <div class="col-xs-12 col-sm-4">
                        <div class="projects-card-overlay">
                            <h5 class="projects-title">Blue Fox Furnishings</h5>
                        </div>
                        <div class="projects-card">
                        <img src="../assets/blue-fox-furnishings.png" alt="" class="projects-card-img">
                        </div>
                  </div>
                  
                  <div class="col-xs-12 col-sm-4">
                        <div class="projects-card-overlay">
                        </div>
                        <div class="projects-card">
                        <img src="../assets/blue-fox-furnishings.png" alt="" class="projects-card-img">
                        </div>
                  </div>
                  
                  <div class="col-xs-12 col-sm-4">
                        <div class="projects-card-overlay">
                        </div>
                        <div class="projects-card">
                        <img src="../assets/blue-fox-furnishings.png" alt="" class="projects-card-img">
                        </div>
                  </div>
                  
                  </section>
              
              <section class="row">
                <div class="col-xs-12">
                
                </div>
              </section>
             
              <section class="row heighten-row">
                  <div class="col-xs-12">
                    <h1 class="page-heading">About Me</h1>
                  </div>
                  </section>
              
              <section class="row">
                <div class="col-xs-12">
                
                </div>
              </section>

    <section class="row heighten-row shadow-row">
  <h1 class="page-heading">My Blog</h1>
  
  {{ content }}

  <div class="post-list">
    {% for post in site.posts %}
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
          <div class="col-xs-12">
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h3>
          <span class="post-meta">{{ post.date | date: date_format }}</span>
              </div>
    {% endfor %}
  </div>
</section>
              
              <section class="row">
                <div class="col-xs-12 col-sm-6">
 
                  </div>
                  <div class="col-xs-12 col-sm-6">
                      <a href="#" class="contact-button">Start on a Project Today!</a>
                  </div>
              </section>
              
              </div><!-- /.content -->
          </div><!-- /.container-fluid -->
          
          
          
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
      
      <script src="js/main.js"></script>