---
layout: default
---



<div class="container-fluid">
    
          <div class="row">
            <div class="col-xs-12 landing-image">
                <div class="landing-overlay">
                    <p class="projects-p">Hello, My name is David Horn and I am a <span class="focus-text">Web Designer</span>. I specialize in UI Design, but I can also develop small to medium size websites for individuals, companies and organizations.</p>
                </div>
              </div>
          </div>
    
          <div class="content">
              
              <div class="row">
                <div class="col-xs-12">
                      <h1 class="page-heading">Latest Projects</h1>
                    <div class="projects-thumbnail"></div>
                    <h4 class="projects-heading">Blue Fox Furnishings</h4>
                  </div>
                  </div>
              
              <div class="row">
                  <div class="col-xs-12">
                      <div class="projects-thumbnail"></div>
                      <h4 class="projects-heading">Project Ancient Sparta</h4>
                  </div>
                  </div>

              <div class="row">
  <div class="col-xs-12">
  <h1 class="page-heading">Latest Blog Posts</h1>
  
  {{ content }}

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        <span class="post-meta">{{ post.date | date: date_format }}</span>

        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h3>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>

</div>
</div>
              </div><!-- /.content -->
          </div><!-- /.container-fluid -->
          
          
          
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
      
      <script src="js/main.js"></script>