---
layout: default
---


<section class="blog-post-content">
    
    <div class="row" style="background:linear-gradient(190deg,#ffc04d,#ff8d00);height:350px;">
        <h1>{{ page.title }}</h1>
    </div>
    
    <div style="padding: 0px 25px 25px 25px;">
            {{ content }}
    </div>
    
    <button type="button" class="main-btn"><a href="http://www.davidcodes.net/blog">Read More Posts</a></button>
    
    <section class="row" style="background:#d9d9d9;padding: 25px;">
            <h3 style="color:#fff;">David Horn</h3>
            <h5>{{ site.time | date_to_long_string }}</h5>
    </section>
    
</section>