---
layout: default
---


<section class="blog-post-page">
    
    <div class="row blog-post-header">
        <h1>{{ page.title }}</h1>
    </div>
    
    <div class="blog-post-content">
            {{ content }}
    </div>
    
    <section class="row author-section">
            <div class="col-sm-4">
                <img src="/assets/david.jpg" class="author-pic" alt="David Horn Profile Picture">
            </div>
            <div class="col-sm-8">
            <h3 style="font-size:1.5em">David Horn</h3>
            <h4>Freelance Web Designer</h4>
            <h5>Passionate about websites and how their designs affect their relationship with users.</h5>
            </div>
    </section>
    
</section>