---
layout: default
---


<section class="blog-post-page">
    
    <div class="row blog-post-header">
        <h1>{{ page.title }}</h1>
    </div>
    
    <div class="blog-post-content">
            {{ content }}
    </div>
    
    <button type="button" class="main-btn"><a href="http://www.davidcodes.net/blog">Read More Posts</a></button>
    
    <section class="row" style="background:#d9d9d9;padding: 25px;">
            <h3 style="color:#fff;">David Horn</h3>
            <h5>{{ site.time | date_to_long_string }}</h5>
    </section>
    
</section>